
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;600&family=Abel&family=ABeeZee&display=swap');

body, html, #root {
  margin: 0;
  padding: 0;
  background: #ffffff;
  font-family: 'League Spartan', sans-serif;
}


.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo-row {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1700px;
  margin-top: 60px;
}

.logo-icon{
  width: 150px;
  height: 150px;

}

.logo-text {
  margin-left: 10px;
  font-size: 40px;
  font-weight: 600;
}


.main {
  margin-top: 120px;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  margin-left: 120px; 
  
 
}

.main-title {
  font-size: 64px;
  line-height: 70px;
  font-weight: 600;
  margin: 0;
  
}

.main-description {
  margin-top: 20px;
  max-width: 500px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.renting-img {
  position: absolute;
  right: 150px;   
  top: 280px;    
  width: 800px;  
  border-radius: 60px;
}


.find-room-btn {
  display: flex;
  align-items: center;
  gap: 230px;
  background: #e6f8ff;
  border: none;
  padding: 14px 26px;
  border-radius: 40px;
  font-family: "League Spartan";
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.find-room-btn:hover {
  transform: translateY(-3px);
}

.arrow-circle {
  width: 32px;
  height: 32px;
  background: #00c8ff;
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow-icon {
  width: 18px;
  height: 18px;
}





.why-section {
  text-align: center;
  margin-top: 120px;
}

.why-label {
  font-family: 'Abel', sans-serif;
  font-size: 24px;
}

.why-title {
  font-family: 'ABeeZee', sans-serif;
  font-size: 36px;
  margin-top: 10px;
}


.features {
  margin-top: 50px;
  display: flex;
  gap: 100px;
  justify-content: center;
}

.feature-box {
  width: 210px;
  height: 240px;
  background: #d9d9d9;
  border-radius: 35px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  transition: transform 0.25s ease-out, box-shadow 0.25s ease-out;
  cursor: pointer;
}

.feature-box:hover {
  transform: translateY(-8px) scale(1.04);
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);
}

.feature-icon {
  width: 80px;
  height: 80px;
  
}

.feature-text {
  margin-top: 50px;
  width: 160px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  line-height: 24px;
}
