*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.contact-whole-container{
    min-height: 100vh;
    border: 2px solid black;
    width: 100%;    
}

/*Title Contact Us*/

.title{
    border: 2px solid black;
    padding: 5px;
}




.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    padding: 5px;
}

.left-card-container{
    border: 2px solid black;
    width:50%;
    padding: 10px;
    height: 100vh;
    display:flex; /* The content inside the left card will be flexed*/
    flex-direction: column; /* The flex direction will be column*/
    gap:20px;  /* The content inside the left card container will have gap of 20px*/
    
    
}

.left-card-container h1{
    font-size:3rem;
}

.left-card-container p{
    font-size: 20px;
    font-weight: 600;
}

.map-image{
    border: 2px solid black;
    width: 100%;
   
}
.map-image img{
    width:65%;
    border-radius: 5%;
    padding: 5px;
}


/* Right side for the contact us page*/

.right-card-container{
    width:50%;
    /* background-color: blue; */
    border: 2px solid black;
    padding: 10px;
    height: 100vh;
    display:flex; /* The content inside the right card will be flexed*/
    flex-direction: column; /* The flex direction will be column*/
    gap:20px;  /* The content inside the right card container will have gap of 20px*/
    align-items: center;
    
}

.social-icons{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.social-icons a {
    display: flex;           /* make anchor a flex container */
    justify-content: space-around;
    align-items: center;
}

.social-icons img{
    width:30%;
    
}




/*Form CSS styling*/

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    align-items: center;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    padding: 5px;
    height: 80%;
    justify-content: space-evenly;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);   /* soft shadow */
    
    
}

.form-group {
    display: flex;
    flex-direction: column;  /*this will make the input field come below the label field.*/
    gap: 5px;
}

label {
    font-weight: 600;
    font-size: 20px;
}

input, 
textarea {
    padding: 14px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;

}

textarea {
    height: 120px;
}

/*Buuton CSS styling*/
.submit-btn-container{
    border: 2px solid black;
    display: flex;    /* button will be flexed*/
    flex-flow:row-reverse;  /*The flexed item button will be row reversed.*/
}

.submit-button {  /*This is the button tag*/
    padding: 12px;
    background-color: rgb(0, 157, 255);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    width: 20%;
    
}

.submit-button:hover {
    opacity: 0.8;
}


/*Contact Icons CSS styling*/

.contact-icons{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}


.icon-container{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    align-items: center;
    justify-content: center;

    width: 150px;       /* increase this to make container bigger */
    height: 150px;      /* adjust height */
    
}

.icon-container img{
    width:50%;      /* icon size */
    height:50%;     /* force equal size */
    margin: 0;          /* remove default inline spacing */
    padding: 0;
    border-radius: 5px;

}