*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.contact-whole-container{
    min-height: 100vh;
    border: 2px solid black;
    width: 100%; 
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-card-container{
    border: 2px solid black;
    width:50%;
    padding: 10px;
    height: 100vh;
    
    display:flex; /* The content inside the left card will be flexed*/
    flex-direction: column; /* The flex direction will be column*/
    gap:20px;  /* The content inside the left card container will have gap of 20px*/
    
}

.left-card-container h1{
    font-size:3rem;
}

.left-card-container p{
    font-size: 20px;
    font-weight: 600;
}

.map-image{
    border: 2px solid black;
    width: 100%;
   
}
.map-image img{
    width:60%;
    border-radius: 5%;
}





/* Right side for the contact us page*/

.right-card-container{
    width:50%;
    
    /* background-color: blue; */

    border: 2px solid black;
    
    padding: 10px;
    height: 100vh;
    
    display:flex; /* The content inside the right card will be flexed*/
    flex-direction: column; /* The flex direction will be column*/
    gap:20px;  /* The content inside the right card container will have gap of 20px*/
    align-items: center;
    
}

.social-icons{
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    gap: 20px;
    
}

.social-icons a {
    display: flex;           /* make anchor a flex container */
    justify-content: center;
    align-items: center;
}

.social-icons img{
    width:25%;
    
}




/*Form CSS styling*/

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    border: 2px solid black;
}

form {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
    
}

.form-group {
    display: flex;
    flex-direction: column;  /*this will make the input field come below the label field.*/
    gap: 5px;
}

label {
    font-weight: 600;
}

input, 
textarea {
    padding: 14px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;

}

textarea {
    height: 120px;
}

/*Buuton CSS styling*/
.submit-btn-container{
    border: 2px solid black;
    display: flex;    /* button will be flexed*/
    flex-flow:row-reverse;  /*The flexed item button will be row reversed.*/
}

.submit-button {
    padding: 12px;
    background-color: rgb(0, 157, 255);
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    
    
}

.submit-button:hover {
    opacity: 0.8;
}