*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.contact-whole-container{
    min-height: 100vh;
    /* border: 2px solid black; */
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 2rem 6rem;
}

/*Title Contact Us*/

.title{
    /* border: 2px solid black; */
    padding:0.3125rem;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.title p{
    line-height: 1.5;
    margin-bottom: 1.25rem;
    font-family: "League Spartan", sans-serif;
    font-style: normal;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
}


.card-container{
    display: flex;
    flex-direction: row;
    /* border: 2px solid black; */
    border-radius: 1rem;
    box-shadow: 0 0.25rem 1.25rem rgba(0, 0, 0, 0.08);
    /* width:85%; */
}

.left-card-container{
    /* border: 2px solid black; */
    width:50%;
    padding: 1.875rem 3.125rem;
    display:flex; /* The content inside the left card will be flexed*/
    flex-direction: column; /* The flex direction will be column*/
    /* gap:50px; The content inside the left card container will have gap of 20px */
    background-color: #fafafa; 
    height: 100%; 
    justify-content: center;
    border-top-left-radius: 1rem;   /* Apply border-radius only to left corners */
    border-bottom-left-radius: 1rem;
}


.left-card-container h1{
    font-size:3rem;
}

.left-card-container p{
    font-size: 1.25rem;
    font-weight: 600;
}

.map-image{
    /* border: 2px solid black; */
    width: 100%;
    border-radius: 5%;
    overflow: hidden;
    
   
}


.map-image iframe{
    width:100%;
    height:25rem;
    border-radius: 5%;
    margin-bottom: 50px;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.15);
    border: none;
    
}


/* Right side for the contact us page*/

.right-card-container{
    width:50%;
    background-color: white;
    /* border: 2px solid black; */
    padding: 1.875rem 3.125rem;
    display:flex; /* The content inside the right card will be flexed*/
    flex-direction: column; /* The flex direction will be column*/
    gap: 1.875rem;  /* The content inside the right card container will have gap of 20px*/
    align-items: center;
    justify-content: center;
    border-radius: 0 1rem 1rem 0;


}

.social-icons{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    gap: 0.625rem;
    
}

.social-icons a {
    display: flex;    /* make anchor a flex container */
    justify-content:center;
    align-items: center;
    transition: transform 0.2s;
    width: 6.25rem;  /*The width of the anchor tag which holds the social media icon*/
    height: 6.25rem;  /*The height of the anchor tag which holds the social media icon*/
}

.social-icons a:hover{
    transform: translateY(-3px);
}


.social-icons img{
    width:55%;
}




/*Form CSS styling*/

.form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* border: 2px solid black; */
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    /* border: 2px solid black; */
    padding: 0.3125rem;
    height: 80%;
    justify-content: space-evenly;
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.15);   /* soft shadow */
    height: 100%;
    border-radius: 16px;
    padding: 3.125rem;
    
}

.form-group {
    display: flex;
    flex-direction: column;  /*this will make the input field come below the label field.*/
    gap: 0.5rem;
}

label {
    font-weight: 600;
    font-size: 1.25rem;
    color: #333;
}

input, 
textarea {
    padding:0.75rem 1rem;
    border: 2px solid rgb(154, 135, 135);
    border-radius: 0.3125rem;
    font-size: 1.25rem;
}

input:focus,
textarea:focus {
    border-color: rgb(0, 140, 255); /* blue border */
    outline: none;                 /* remove default blue outline */
    box-shadow: 0 0 0.3125rem rgba(0, 140, 255, 0.6); /* optional glow effect */
}

textarea {
    
    resize: none;
}

/*Buuton CSS styling*/
.submit-btn-container{
    /* border: 2px solid black; */
    display: flex;    /* button will be flexed*/
    flex-flow:row-reverse;  /*The flexed item button will be row reversed.*/
}

.submit-button {  /*This is the button tag*/
    padding: 0.75rem 2rem;
    background-color:#2982ff;
    color: white;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
    cursor: pointer;
    width: auto;  /*The submit button is given an auto width*/
    transition: background-color 0.3s;
    
}

.submit-button:hover {
    background-color: #3367d6;
}


/*Contact Icons CSS styling*/

.contact-icons{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 3.75rem;
}


.icon-container{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    gap: 0.3125rem;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 12.5rem;       /* increase this to make container bigger */
    height: 10.625rem;      /* adjust height */
    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.15);   /* soft shadow */
    border-radius: 0.75rem;
    transition: transform 0.2s;
}

.icon-container img{
    width:45%;      /* icon size */
    height:45%;     /* force equal size */
    margin: 0;          /* remove default inline spacing */
    padding: 0;
    border-radius: 0.3125rem;

}

.icon-container span{
    /* border: 2px solid black; */
    font-size: 1.25rem;
    color: #1e1d1d;
    
}

.icon-container:hover{
    transform: translateY(-3px);
}

.icon-title{
    /* border: 2px solid black; */
    font-size: 1.25rem;
    font-weight: 600;
}



/* Vertical Bar*/

.vertical-divider {
    width: 0.0625rem;  /* The thickness of the line*/
    background-color: #333;
    height: 8.75rem;
    align-self: center;
}



/* Media Screen*/
@media screen and (max-width: 1024px) {

    .contact-whole-container{
        padding: 1.5rem 3rem;
    }

    .card-container{
        flex-direction: column;
    }

    .left-card-container,
    .right-card-container{
        width: 100%;
    }

    .left-card-container{
        border-radius: 1rem 1rem 0 0;
    }

    .right-card-container{
        border-radius: 0 0 1rem 1rem;
    }

    .contact-icons{
        gap: 2.5rem;
        flex-wrap: wrap;
    }

    .vertical-divider{
        display: none;
    }

    .icon-container{
        width: 11rem;
        height: 9.5rem;
    }
}


